{% extends 'base.html' %}


{% block container %}

{% if error_msg %}
<div class="alert alert-danger">
    {{ error_msg }}
</div>
{% endif %}

{% if created %}
<div class="alert alert-success">

    Conta criada com sucesso!
</div>
{% endif %}

<form method="POST" action="/login" id="login-form">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
    </div>    
   <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
            </svg>
        </span>
        <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
    </div>
    <div class="text-left text-inline">
        <a href="/signup">Criar conta</a>
        <a href="#">Esqueci a senha</a>
    </div>
    <div class="form-inline text-right">
        <div class="checkbox"> 
            <label>
                <input type="checkbox" value="Lembrar" class="form-control"> Lembrar
            </label>
        </div>
        <input type="submit" value="Entrar" class="btn btn-default">
    </div>
</form>
{% endblock %}
