{% extends 'base.html' %}


{% block container %}
{% if error_msg %}
<div class="alert alert-danger">
    {{ error_msg }}
</div>
{% endif %}

<form method="POST" action="/signup" id="signup-form">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="text" name="username" class="form-control" placeholder="Nome de Usuário" aria-describedby="sizing-addon1">
    </div>
    
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="email" name="email" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon1">
    </div>

    

   <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
            </svg>
        </span>
        <input type="password" name="password" class="form-control" placeholder="Senha" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
            </svg>
        </span>
        <input type="password" name="passwordrep" class="form-control" placeholder="Senha (repita)" aria-describedby="sizing-addon1">
    </div>

    <div class="input-group">
        <label> Data de Nascimento </label>
        <input type="date" class="form-control" name="birth">
    </div>

    
    <div id="captcha" class="row">
         <div class="col col-md-6">
            <label>Captcha:</label>
            <img src="data:image/png;base64,{{ captcha.data }}">
         </div>
    </div>

    <div class="row">
        <div class="col col-md-6 text-center">
            
            <input type="text" id="captcha-input" class="form-control" 
                placeholder="Digite os caracteres que aparecem na imagem" name="captcha-answer">
            
        </div>
        <input type="hidden" name="captcha-id" value="{{ captcha.id }}">
        <div class="col col-md-6 text-center">
            <a href="/login">Já tenho conta</a>
            <input type="submit" value="Cadastrar" class="btn btn-primary">
            
        </div>
        
    </div>
    
</form>
{% endblock %}
