{% extends 'base.html' %}

{% block container %}

<form action="/board/thread/create" method="POST" enctype = "multipart/form-data">
    <div class="mt-3">
        <label for="title" class="form-label">Título:</label>
        <input type="text" class="form-control" placeholder="Título ultra legal para sua thread!!" name="title" required>
    </div>
    <div class="mt-3">
        <label for="descricao" class="form-label">Descrição:</label>
        <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
    </div>
    <div class="mt-3">
        <input type="file" name="image" required> 
    </div>
    <div id="captcha" class="mt-5 row">
        <div class="col col-md-3">
            <img src="data:image/png;base64,{{ captcha.data }}">
        </div>
        <div class="col col-md-4">
            <input type="text" class="form-control" name="captcha-answer" placeholder="Digite os caracteres da imagem ao lado" required>
            <input type="hidden" name="captcha-id" value="{{ captcha.id }}" required>
            <a href="../" class="btn btn-default">Voltar</a>
            <input type="submit" class="btn btn-primary" value="Enviar">
        </div>

    </div>

</form>

{% endblock %}
